/* card start   */

#popular-topic {
    background: #f5f5f5;
    padding-top: 70px;
}


.row {
    display: inline-block;
    width: 100%;
    background: #f5f5f5;


}

.col-1-of-3 {
    float: left;

    padding-left: 50px;
    margin: 40px;
    width: 100%;
}

.row .col-1-of-3 {
    width: calc((100% - 2 * 5rem) / 3.7);
}

.card {
    perspective: 150rem;
    position: relative;
    height: 40rem;

}

.cardf {
    height: 40rem;
    background-color: white;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.cardb {
    height: 40rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    transform: rotateY(180deg);
    font-family: Raleway, "Times New Roman", Times, sans-serif;
}

.cardb__color1 {
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
    color: white;
}

.cardb__color2 {
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485);

}

.cardb__color3 {
    background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}


.card:hover .cardf {
    transform: rotateY(-180deg);
}

.card:hover .cardb {

    transform: rotateY(0);
}

.card-picture {
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../images/sci.jpg);
    background-size: cover;
    height: 18rem;
    background-blend-mode: screen;

    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.card-details {
    padding: 1rem;
}

.card-details ul {
    list-style: none;
    width: 80%;
    margin: 0 auto;
}

.card-details ul li {
    text-align: center;
    font-size: 1.5rem;
    font-family: Raleway, "Times New Roman", Times, sans-serif;
    padding: 0;
}

.card-details ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.card-heading {
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: white;
    position: absolute;
    top: 12rem;
    right: 1rem;
    width: 75%;
    font-family: Raleway, "Times New Roman", Times, sans-serif;

}

.card-sci {
    background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}

.card-com {
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485);


}

.card-arts {
    background-image: linear-gradient(to right bottom, #2998ff, #5643fa);

}

.card-cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
}

.card-price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem;
}

.card-price-value {
    font-size: 50px;
}

.card-picture1 {
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../images/commerce.jpeg);
    background-size: cover;
    height: 18rem;
    background-blend-mode: screen;

    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.card-picture2 {
    background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../images/arts.jpg);
    background-size: cover;
    height: 18rem;
    background-blend-mode: screen;

    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}


/* btn start   */

.btn {

    color: #777;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 40px;
    display: inline-block;
    margin-top: 10px;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
    animation: moveInBottom;
    background: #fff;
    font-family: Raleway, "Times New Roman", Times, sans-serif;
    text-decoration: none;
}

btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    color: #000;
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
    background-color: #fff;
    color: #000;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}


.btn-discover {
    background: rgb(24, 139, 192);
    margin-left: 38%;
    color: white;
    animation-duration: 2s;

}

.btn-discover::after {
    background: rgb(7, 7, 7);
}


/* btn end  */


.card-details p {
    font-size: 15px;
    color: rgb(140, 168, 221);
    text-align: center;
    font-weight: 600;
}

.contact-title {
    color: #28b485;
    text-align: center;
    font-weight: 700;
}