.home_background {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.header_content {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.welcome_msg {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 500;

}

.primary_heading {
    color: #fff;
    font-size: 6rem;
    font-weight: 700;
}

.form-control.search_input {
    height: 40px;
    border: 1px solid green;
}

.btn.btn-success.search_btn {
    border-color: none;
    border: 0px solid transparent;

}

.home_content_container {
    margin: 5% auto;
}

.home_heading {
    color: #000;
    font-size: 2.6rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1.5rem;
}

.home_desc {
    color: #000;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}

.qoutes {
    padding: 2.5rem;
    margin: 2rem 0rem;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, .4);
    border-radius: 12px;
}

.qoute_heading {
    color: #289875;
    font-size: 1.6rem;
    font-weight: 600;
}

.qoute_desc {
    color: #000;
    font-size: 1.6rem;
    font-weight: 400;
}