.sign_up_card {
    padding: 5% 1rem;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 1.6rem;
}

.fch.form-control {
    height: 45px;
    font-size: 1.6rem;
}

.group_mg_btm {
    margin-bottom: 1.5rem;
}

.group_mg_btm .input-group-text {
    font-size: 1.6rem;
    text-align: center;
    width: 35px;
}

.btn.btn-primary.btn-block {
    font-size: 1.6rem;
}

.card-title.mt-3.text-center {
    font-size: 2.6rem;
    margin-bottom: 1.5rem;
}

.custom-select.select {
    height: calc(2.25rem + 18px);
}