.body{
    font-size: 1.9rem;
    
}
    .container_explore {
    padding: 2.5rem .5rem;
}

.container_explore>.row {
    margin-left: 0px;
    margin-right: 0px;
}

.primary_heading_explore {
    font-size: 3.2rem;
    font-weight: 700;
    color: #f7682f;
    text-align: center;
    margin-bottom: 2.5rem;
}

.explore_card {
    border: 2px solid #eee;
    border-radius: 12px;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    padding-top: 4rem;
}
.explore_card:nth-child(odd){
    background: #c7c7ca;
}

.explore_card:nth-child(even){
    background: orange;
}

.explore_card>.col-md-6 {
    margin-bottom: 1.5rem;
}

.video_container {
    padding: 10px;
    background: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, .2);
    width: 80%;
    margin: 0px auto;
    display: block;
}

.video_container video {
    width: 100%;
    height: 32rem;
}

.desc_heading {
    font-size: 2.2rem;
    font-weight: 600;
    color: #289875;
    text-align: center;
    margin-bottom: 1rem;
}

.short_desc {
    font-size: 1.6rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 1rem;
}

.relative_pos {
    position: relative;
}

.category {
    position: absolute;
    right: 0;
    top: 0;
    margin-bottom: 0px;
    background: #f79693;
    padding: .5rem 1rem;
    border-top-right-radius: 8px;
    color: #000;
    font-size: 1.2rem;
    font-weight: 600;
}

.primary_heading_explore.post_requirement {
    font-size: 1.9rem;
    color: #289875;
    text-align: left;
    padding-left: 4.5rem;
}

.post_details {
    padding-top: 1rem;
    font-size: 1.6rem;
    padding-left: 5rem;

}

.post_skills {
    font-size: 1.9rem;
    color: #289875;
    text-align: left;
    padding-left: 5rem;
    padding-top: 2rem;
}

.skills_short {
    font-size: 1.8rem;
    font-weight: 600;
    color: #f7682f;

}

.demands {

    font-size: 1.6rem;
    padding-left: 1.5rem;

}

.conlution {
    padding-right: 1.3rem;
}

.post_method {
    margin-top: 5rem;
}



.ticker-container {
    height: 60px;
    width: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    /*background-color: white;
    color: black;*/
    font-size: 1.1em;
    margin-bottom: 15px;
}

.ticker-container .ticker-caption {
    height: 50%;
    width: 100%;
    background-color: #EC0B43;
    display: table;
    position: absolute;
    color: white;
    font-size: 0.8em;
    z-index: 1;
}

.ticker-container .ticker-caption p {
    height: inherit;
    width: inherit;
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
}

.ticker-container ul {
    list-style: none;
    padding: 0;
    height: auto;
}

.ticker-container ul div {
    overflow: hidden;
    position: absolute;
    z-index: 0;
    display: inline;
    min-width: 100%;
    left: 0;
    height: 50%;
    transition: 0.25s ease-in-out;
}

.ticker-container ul div.ticker-active {
    top: 30px;
}

.ticker-container ul div.not-active {
    top: 60px;
}

.ticker-container ul div.remove {
    top: 0;
}

.ticker-container ul div li {
    padding: 5px 0;
}

.ticker-container ul div li a {
    color: #EC0B43;
}

@media (min-width: 500px) {
    .ticker-container {
        height: 30px;
        text-align: left;
    }

    .ticker-container .ticker-caption {
        height: 100%;
        width: 150px;
        background-image: url("asset/ticker.png");
        background-size: 100% 150px;
    }

    .ticker-container .ticker-caption p {
        text-align: left;
        padding-left: 7px;
    }

    .ticker-container ul {
        margin-left: 170px;
        height: 100%;
    }

    .ticker-container ul div {
        height: 100%;
        left: 170px;
    }

    .ticker-container ul div.ticker-active {
        top: 0;
    }

    .ticker-container ul div.not-active {
        top: 30px;
    }

    .ticker-container ul div.remove {
        top: -30px;
    }
}

@media (min-width: 768px) {
    .ticker-container {
        margin-bottom: 10px;
    }
}

@media (min-width: 992px) {
    .ticker-container {
        margin-bottom: 20px;
    }
}