.logo_main {
    width: 120px;
    height: 62px;
}

.navbar.navbar-expand-lg.explore_nav {
    background: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    padding-left: 15px;
    padding-right: 15px;
}


.navbar.navbar-expand-lg.explore_nav .navbar-nav .nav-link {
    font-size: 1.6rem;
    color: #289875;
    font-weight: 600;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: all .3s;
}

.navbar.navbar-expand-lg.explore_nav .navbar-nav .nav-item {
    padding: .8rem .5rem;
}

.navbar.navbar-expand-lg.explore_nav .navbar-nav .nav-link:hover {
    color: #01160f;
}

.navbar.navbar-expand-lg.explore_nav .navbar-nav .nav-item.active .nav-link {
    color: #fff;
}


.navbar.navbar-expand-lg.explore_nav.explore_nav_common {
    background: #289875;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar.navbar-expand-lg.explore_nav.explore_nav_common .navbar-nav .nav-link {
    font-size: 1.6rem;
    color: #fff;
    font-weight: 600;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: all .3s;
}

.navbar.navbar-expand-lg.explore_nav.explore_nav_common .navbar-nav .nav-item {
    padding: .8rem .5rem;
}

.navbar.navbar-expand-lg.explore_nav.explore_nav_common .navbar-nav .nav-link:hover {
    color: #000;
}

.navbar.navbar-expand-lg.explore_nav.explore_nav_common .navbar-nav .nav-item.active .nav-link {
    color: #000;
}

.navbar-toggler:not(:disabled):not(.disabled) {
    background: #eee;
    padding: .6rem 1rem;
}


@media(max-width:991.98px) {
    .navbar.navbar-expand-lg.explore_nav {
        background: #289875;
    }

    .navbar.navbar-expand-lg.explore_nav .navbar-nav .nav-link {
        font-size: 1.6rem;
        color: #fff;
        font-weight: 600;
        padding-left: 1rem;
        padding-right: 1rem;
        transition: all .3s;
    }

    .navbar.navbar-expand-lg.explore_nav .navbar-nav .nav-item {
        padding: .8rem .5rem;
    }

    .navbar.navbar-expand-lg.explore_nav .navbar-nav .nav-link:hover {
        color: #000;
    }

    .navbar.navbar-expand-lg.explore_nav .navbar-nav .nav-item.active .nav-link {
        color: #000;
    }
}

.dropdown-menu.custom_dropdown {
    left: 1rem;
    right: 1rem;
    background: #289875;
    text-align: center;

}

.dropdown-menu.custom_dropdown .dropdown-item {
    color: #fff;
    padding: .5rem;
    font-size: 1.3rem;
}

.dropdown-menu.custom_dropdown .dropdown-item:hover {
    color: #000;

}